.menu-app{
    --background: none;
    background-image: url('../assets/imagens/parca8.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background: opacity 30px;
  }

  .topo{
    width:30%;
    height:30%;
  }

  .menu-app div{
    --background: none;

  }

  .menu-app ion-list{
  }

  .menu-app ion-item{
    --background: none;

  }