<div>

  <ion-toolbar >
    <ion-title>Cardápio Da Semana</ion-title>
  </ion-toolbar>

  <ion-card>
      <ion-card-header>
        <ion-card-title>Frango Fit (baixa-Caloria)</ion-card-title>
        <ion-card-subtitle>Ingredintes</ion-card-subtitle>
      
      </ion-card-header>
    
      <ion-card-content>
          2 colheres (sopa) de óleo.
          100g de bacon picado.
          1 cebola picada.
          2 dentes de alho picados.
          2 peitos de frango grandes sem pele e sem osso cortados em cubos.
          2 colheres (sopa) de extrato de tomate.
          3 batatas grandes em cubos.
          1 lata de milho verde escorrida.
      </ion-card-content>
    </ion-card>
  
    <ion-card>
        <ion-card-header>
          <ion-card-title>Lombo de Pirarucu Recheado (baixa-Caloria)</ion-card-title>
          <ion-card-subtitle>Ingredintes</ion-card-subtitle>
        
        </ion-card-header>
      
        <ion-card-content>
            2 colheres (sopa) de óleo.
            100g de bacon picado.
            1 cebola picada.
            2 dentes de alho picados.
            2 peitos de frango grandes sem pele e sem osso cortados em cubos.
            2 colheres (sopa) de extrato de tomate.
            3 batatas grandes em cubos.
            1 lata de milho verde escorrida.
        </ion-card-content>
      </ion-card>
     

  <ion-button expand="full" color="dark">
    <button ion-button (click)="closeModal()">Close</button>
  </ion-button>
</div>